In [1]:
import pandas as pd

# Quais tipos de investimentos serão considerados no nosso portfólio?

- Renda variável (Ações e FIIs)

In [2]:
# ler arquivo principal
arquivo_investimentos = pd.read_excel("ativos_ok.xlsx", sheet_name=['RendaVariavel'])

# Como organizar a base de dados:

Informações que devem constar na planilha:

- data
- nome investimento
- quantidade
- valor
- aporte

## Renda variável

In [3]:
arquivo_investimentos['RendaVariavel'].head()

,data,nome investimento,quantidade original,valor original,aporte,quantidade,valor
0,2019-01-22,ITSA4,100,12.72,1272.0,NaN,NaN
1,2019-05-13,ABEV3,55,17.00,935.0,NaN,NaN
2,2019-05-13,WEGE3,50,18.10,905.0,NaN,NaN
3,2019-05-13,EGIE3,20,42.43,848.6,NaN,NaN
4,2019-12-19,ABEV3,-55,19.06,-1048.3,NaN,NaN

### Observações:

- Alteração do TICKER: alterar manualmente
- Para vendas, lance quantidade negativa